@import basic

.panel.thick
  border-left-style: solid
  border-left-width: 10px
  .panel-heading
    border-top-left-radius: 0
    font-weight: 900
    font-size: 1.3em

.salestable
  width: 100%
  th, td
    text-align: center

.order
  .glyphicon
    cursor: pointer

.admin-content
  margin: 20px 20px 120px 20px

#admin-footer
  position: fixed
  bottom: 0
  width: 100%
  background: url(/img/logo/footer.png) left center no-repeat rgba(0,0,0,0.5)
  color: #fff
  padding: 10px 20px
  height: 50px
  line-height: 30px

#order-detail-modal
  .modal-dialog
    width: 80%

.showlist .hidebtn
  display: none
.hidelist .showbtn
  display: none
