@import basic
@import vars

#order, #notify
  max-width: 1024px
  margin: 60px auto 20px
  h2
    text-align: center
  .ib
    margin: 0 30px
  opacity: 0
  @include transition(opacity 1s)

#order.shown, #notify.shown
  opacity: 1

#notify form
  width: 80%
  margin: auto

.text-danger, .text-success
  display: inline
  margin-left: 10px

#orderlist
  td
    padding: 2px 10px 2px 0

#order-complete
  margin-top: 40px

#order
  .choices
    text-align: center
    width: 100%
    margin: auto
  .choice
    //-border: 1px solid #ccc
    //-border-radius: 3px
    width: 280px
    height: 295px
    margin: 5px
    position: relative
    display: inline-block
    .soldout
      position: absolute
      top: 0
      left: 0
      background: url(/img/form/soldout.png) center center no-repeat
      z-index: index($order, order-choice-select)
      width: 280px
      height: 250px

    .ib
      margin: 0
    .price
      position: absolute
      bottom: 37px
      text-align: right
      width: 100%
    .color
      width: 100%
      height: 250px
      margin-bottom: 10px
      &:before
        content: " "
        position: absolute
        padding: 1px 3px
        bottom: 7px
        right: 25px
        background: #000
        color: #fff
        font-weight: 999
        display: block
        width: 36px
        height: 22px
        border-radius: 5px
        z-index: index($order, order-choice-select)

    .color
      &.red
        &:before
          content: "紅色"
          background: #f00
        background: url(/img/form/color.png) 0 0 no-repeat
      &.green
        &:before
          content: "綠色"
          background: #a2a32f
        background: url(/img/form/color.png) 0 -1068px no-repeat
      &.cyan
        &:before
          content: "水藍"
          background: #49e
        background: url(/img/form/color.png) 0 -1335px no-repeat
      &.purple
        &:before
          content: "紫色"
          background: #60b
        background: url(/img/form/color.png) 0 -267px no-repeat
      &.magenta
        &:before
          content: "紫紅"
          background: #b0b
        background: url(/img/form/color.png) 0 -801px no-repeat
      &.black
        &:before
          content: "黑色"
          background: #000
        background: url(/img/form/color.png) 0 -534px no-repeat
  .choice.soldout
    .color
      @include filter(saturate(0))
      opacity: 0.6
      &:before
        display: none
      &:after
        content: "已售完"
        display: block
        position: absolute
        z-index: index($order, order-choice-select)
        bottom: 7px
        right: 75px

@media (max-width: 480px)
  #order
    .choice
      width: 48%
      margin: 2px 0
      height: 160px
      .price
        bottom: 0
      .ib
        margin: 0
        height: 160px
        .color
          height: 100%
          background-size: contain
          z-index: index($order, order-choice-img)
          margin-bottom: 0
          background-repeat: no-repeat
          background-position: center center
          &.red
            background-image: url(/img/form/red.png)
          &.green
            background-image: url(/img/form/green.png)
          &.cyan
            background-image: url(/img/form/cyan.png)
          &.purple
            background-image: url(/img/form/purple.png)
          &.magenta
            background-image: url(/img/form/magenta.png)
          &.black
            background-image: url(/img/form/black.png)
          &:before, &:after
            bottom: -28px
            right: 34px
            font-size: 0.8em
            line-height: 1.6em
            padding: 1px 0
            width: 30px
          &:after
            width: 36px

.radio label
  vertical-align: middle
