@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "STHeiti", "Helvetica Neue", Arial, Helvetica, Geneva, "微軟正黑體", sans-serif;
  font-family: "Source Sans Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "文泉驛微米黑", "WenQuanYi Micro Hei Light", "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.clickable {
  cursor: pointer; }

hr {
  border-bottom: 1px solid #bbb;
  width: 90%; }

br.clear {
  clear: both; }

body {
  background: url(/img/pat/rockywall.png) fixed; }

#root {
  min-width: 320px;
  width: 100%;
  height: 100%; }

#content {
  width: 100%; }

.hr {
  width: 100%;
  height: 1px;
  background: #ccc;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.075);
  margin: 20px 0; }

.static-content {
  margin: 200px auto;
  width: 70%;
  letter-spacing: 1px;
  font-size: 1.1em; }
  .static-content h2 {
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px; }
  .static-content p {
    margin-bottom: 20px; }
  .static-content h3 {
    margin-top: 50px; }
  .static-content ul {
    padding-left: 20px; }
  @media (max-width: 480px) {
    .static-content {
      margin-top: 80px;
      width: 90%; } }

.delay-bk {
  -ms-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0; }

.delay-bk.visible {
  opacity: 1; }

.wing {
  width: 300px;
  height: 95px;
  display: block;
  margin: 10px auto; }

.barblock {
  border-left: 5px solid #ccc;
  padding-left: 10px;
  margin-left: 2px; }
  .barblock.green {
    border-color: #9d5; }
  .barblock .desc {
    margin: 20px 5px;
    font-size: 1.2em; }
  .barblock .total {
    font-size: 1.3em; }
    .barblock .total span {
      font-weight: 900;
      font-size: 1.5em; }

span.red {
  color: #f02; }

#nav {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 8;
  width: 100%;
  min-width: 320px;
  height: 95px; }
  #nav .ib {
    margin: 0 10px; }
  #nav .right {
    display: inline;
    float: right; }
  #nav .item.logo {
    font-family: Garamond;
    padding: 0px; }
  #nav .item {
    padding: 46px 25px;
    display: inline-block;
    font-size: 23px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer; }
    #nav .item:hover {
      text-shadow: 0 0 5px #ff8000; }
  #nav .item.logo {
    width: 140px;
    height: 130px;
    margin-left: 10px;
    float: left;
    background: url(/img/logo/white.png) center center no-repeat;
    background-size: cover; }

@media (min-width: 800px) {
  #nav {
    height: 150px; }
    #nav .ib {
      padding-top: 10px;
      margin: 0 auto;
      max-width: 1024px; }
    #nav .right {
      display: block;
      height: 130px;
      padding-right: 145px; } }
@media (max-width: 640px) {
  #nav .item {
    font-size: 18px;
    padding: 50px 10px; }
  #nav .right {
    padding-right: 15px; } }
@media (max-width: 480px) {
  #nav .right {
    padding-right: 0; }

  #nav {
    height: 60px; }

  #nav .item {
    padding: 20px 10px; }

  #nav .item.logo {
    display: none; } }
#banner {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #223D00), color-stop(1, #0D1700));
  background-image: -o-linear-gradient(bottom, #223D00 0%, #0D1700 100%);
  background-image: -moz-linear-gradient(bottom, #223D00 0%, #0D1700 100%);
  background-image: -webkit-linear-gradient(bottom, #223D00 0%, #0D1700 100%);
  background-image: -ms-linear-gradient(bottom, #223D00 0%, #0D1700 100%);
  background-image: linear-gradient(to bottom, #223D00 0%, #0D1700 100%); }

#banner-bk {
  min-width: 320px;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-size: cover;
  background-position: center center; }

#banner-logo, #banner-logo-sm, #banner-logo-xs {
  position: absolute;
  min-width: 320px;
  width: 100%;
  height: 70%;
  top: 10%;
  background-repeat: no-repeat;
  background-position: center center;
  display: none; }

@media (max-width: 480px) {
  #banner-logo-xs {
    display: block;
    min-height: 95px;
    min-width: 300px; } }
@media (max-width: 800px) and (min-width: 480px) {
  #banner-logo-sm {
    display: block;
    min-height: 142px;
    min-width: 450px; } }
@media (min-width: 800px) {
  #banner-logo {
    display: block;
    min-height: 230px;
    min-width: 730px; } }
#banner-subtitle {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 20%;
  color: #fff;
  font-size: 2em;
  text-align: center;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.8); }

@media (max-width: 1024px) {
  #banner-subtitle {
    font-size: 1.5em; } }
@media (max-width: 800px) {
  #banner-subtitle {
    font-size: 1.2em; } }
@media (max-width: 640px) {
  #banner-subtitle {
    font-size: 2em; } }
@media (max-width: 480px) {
  #banner-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#banner-golook {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  min-width: 320px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: order(detail-bk, detail-img, detail-title, banner, order-choice-img, order-choice-select, feathers, nav, banner);
  color: #fff; }
  #banner-golook i.glyphicon {
    -ms-animation: blink 1s ease-in infinite;
    -moz-animation: blink 1s ease-in infinite;
    -webkit-animation: blink 1s ease-in infinite;
    -o-animation: blink 1s ease-in infinite;
    animation: blink 1s ease-in infinite;
    font-size: 2em;
    margin-top: 5px; }

#feathers {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none; }

.feather {
  width: 32px;
  height: 32px;
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 7; }
  .feather .bk {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/icon/shadow.png) center center no-repeat; }
  .feather .img {
    position: absolute;
    background: url(/img/icon/feather.png) center center no-repeat;
    width: 100%;
    height: 100%; }

#gallery {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  background: #fff; }
  #gallery .brick, #gallery .brick-group {
    background: #eee;
    margin: 2px;
    background-position: center center;
    background-size: cover;
    display: block;
    float: left; }
  #gallery .brick.one, #gallery .brick.two {
    width: 243px;
    height: 340px; }
  #gallery .brick.two {
    width: 490px; }
  #gallery .brick.half {
    height: 168px; }
  #gallery .brick-group {
    background: none;
    height: 340px; }
    #gallery .brick-group .brick {
      margin: 0; }
    #gallery .brick-group .brick.one.half:first-of-type {
      margin-top: 0;
      margin-bottom: 2px;
      float: none; }
    #gallery .brick-group .brick.half:last-of-type {
      margin-top: 2px;
      margin-bottom: 0; }

.brick {
  width: 200px;
  height: 200px;
  background: #ccc;
  opacity: 0;
  -ms-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s; }

.brick.visible, .brick.group {
  opacity: 1; }

.brick.type-a {
  width: 496px;
  height: 410px; }

.brick.type-b {
  width: 303px;
  height: 200px; }

.brick.type-c {
  width: 273px;
  height: 410px; }

#gallery .brick-group.n990 {
  display: none; }

@media (max-width: 1245px) {
  #gallery .brick.w1245 {
    display: none; } }
@media (max-width: 990px) {
  #gallery .brick-group.n990 {
    display: block; } }
@media (max-width: 740px) {
  #gallery .brick.w740 {
    display: none; } }
@media (max-width: 500px) {
  #gallery {
    display: none; } }
#gallery-xs {
  width: 100%;
  display: none; }

@media (max-width: 500px) {
  #gallery-xs {
    display: block; } }
#gallery-xs img {
  width: 100%;
  border-top: 5px solid black;
  border-bottom: 5px solid black; }

.brick-xs {
  width: 100%;
  min-width: 320px;
  height: 210px;
  background-size: cover; }
  .brick-xs.portrait {
    height: 346px; }

#gallery .brick.vg1, #gallery .brick.vg2, #gallery .brick.vg3, #gallery .brick.vg4, #gallery .brick.vg5, #gallery .brick.vg6, #gallery .brick.vg7, #gallery .brick.vg8, #gallery .brick-group.vg1, #gallery .brick-group.vg2, #gallery .brick-group.vg3, #gallery .brick-group.vg4, #gallery .brick-group.vg5, #gallery .brick-group.vg6, #gallery .brick-group.vg7, #gallery .brick-group.vg8 {
  display: none; }

@media (max-width: 494px) {
  #gallery {
    width: 247px; }
    #gallery .brick.vg1, #gallery .brick-group.vg1 {
      display: block; } }
@media (min-width: 494px) and (max-width: 741px) {
  #gallery {
    width: 494px; }
    #gallery .brick.vg2, #gallery .brick-group.vg2 {
      display: block; } }
@media (min-width: 741px) and (max-width: 988px) {
  #gallery {
    width: 741px; }
    #gallery .brick.vg3, #gallery .brick-group.vg3 {
      display: block; } }
@media (min-width: 988px) and (max-width: 1235px) {
  #gallery {
    width: 988px; }
    #gallery .brick.vg4, #gallery .brick-group.vg4 {
      display: block; } }
@media (min-width: 1235px) and (max-width: 1482px) {
  #gallery {
    width: 1235px; }
    #gallery .brick.vg5, #gallery .brick-group.vg5 {
      display: block; } }
@media (min-width: 1482px) and (max-width: 1729px) {
  #gallery {
    width: 1482px; }
    #gallery .brick.vg6, #gallery .brick-group.vg6 {
      display: block; } }
@media (min-width: 1729px) and (max-width: 1976px) {
  #gallery {
    width: 1729px; }
    #gallery .brick.vg7, #gallery .brick-group.vg7 {
      display: block; } }
@media (min-width: 1976px) {
  #gallery {
    width: 1976px; }
    #gallery .brick.vg8, #gallery .brick-group.vg8 {
      display: block; } }
#detail {
  width: 90%;
  margin: 5px auto; }
  #detail .item {
    width: 400px;
    display: block;
    float: left;
    margin: 10px;
    position: relative; }
    #detail .item .img {
      width: 400px;
      height: 300px;
      position: relative;
      z-index: 2;
      background-size: cover;
      background-position: center center;
      border-radius: 5px; }
    #detail .item:before {
      content: " ";
      display: none;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 400px;
      height: 300px;
      background: #ccc;
      border-radius: 5px;
      -ms-transition: border-radius 1s;
      -moz-transition: border-radius 1s;
      -webkit-transition: border-radius 1s;
      -o-transition: border-radius 1s;
      transition: border-radius 1s; }
    #detail .item .desc {
      position: relative;
      z-index: 3; }
      #detail .item .desc .ib {
        margin: 10px 20px; }
      #detail .item .desc h3 {
        margin-bottom: 30px; }
      #detail .item .desc ul {
        padding-left: 20px; }
        #detail .item .desc ul li {
          line-height: 1.3em;
          margin: 15px 0;
          font-size: 1.1em;
          letter-spacing: 1px; }
    #detail .item .title {
      position: relative;
      z-index: 3;
      text-align: center;
      font-size: 1.5em;
      border-top: 5px solid #999;
      margin-top: 3px; }
  #detail .item#spec {
    border: 1px solid #eee;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    height: 300px; }
    #detail .item#spec:before {
      background: #fff; }
  #detail .item.dashed:before {
    background: none; }
  #detail .item.dashed .img {
    border: 2px dashed #999;
    font-size: 2em;
    text-align: center;
    position: relative;
    background: none;
    -ms-transition: border-radius 1s;
    -moz-transition: border-radius 1s;
    -webkit-transition: border-radius 1s;
    -o-transition: border-radius 1s;
    transition: border-radius 1s; }
    #detail .item.dashed .img .ib {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      margin-top: -40px; }
  #detail .item:hover .img, #detail .item:hover:before {
    border-radius: 25px; }

@media (min-width: 480px) and (max-width: 840px) {
  #detail {
    width: 400px;
    margin: auto; }
    #detail .item.w1260 {
      display: none; } }
@media (min-width: 840px) and (max-width: 1260px) {
  #detail {
    width: 840px;
    margin: auto; }
    #detail .item.w1260 {
      display: none; } }
@media (min-width: 1260px) and (max-width: 1680px) {
  #detail {
    width: 1260px;
    margin: auto; } }
@media (min-width: 1680px) {
  #detail {
    width: 1680px;
    margin: auto; } }
@media (max-width: 480px) {
  #detail {
    width: 100%; }
    #detail .item.w1260 {
      display: none; }
    #detail .item.w480 {
      display: none; }
    #detail .item {
      width: 100%;
      margin: 0;
      border-bottom: 5px solid #111;
      border-top: 5px solid #111; }
      #detail .item .img {
        width: 100%;
        border-radius: 0;
        height: 200px; }
      #detail .item .title {
        position: absolute;
        margin-top: -50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        color: #fff;
        padding: 5px; }
    #detail .item#spec:before {
      width: 100%; }
    #detail .item#spec {
      height: 240px;
      box-shadow: none; }
    #detail .item:hover .img, #detail .item:hover:before {
      border-radius: 0; } }
#order-now {
  font-size: 1.7em;
  padding: 15px 20px; }

#feature {
  margin: 30px 0 40px; }
  #feature h2 {
    text-align: center;
    margin: 30px 0; }
  #feature .row {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    #feature .row p {
      font-size: 1.2em;
      letter-spacing: 1px;
      width: 80%;
      text-align: left;
      margin: 0 auto 0; }
  #feature img, #feature .feature {
    -ms-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  #feature img.zoom, #feature .feature.zoom {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

@media (max-width: 480px) {
  #feature h2 {
    font-size: 1.8em; } }
.feature {
  width: 226px;
  height: 226px;
  position: relative;
  margin: auto; }

.feature-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px; }

@media (min-width: 480px) {
  .col-sm-4 .feature-icon:first-of-type {
    opacity: 1; }
  .col-sm-4 .feature-icon:last-of-type {
    opacity: 0; }

  .col-sm-4:hover .feature-icon:first-of-type {
    opacity: 0; }
  .col-sm-4:hover .feature-icon:last-of-type {
    opacity: 1; } }
@media (max-width: 480px) {
  .col-sm-4 .feature-icon:first-of-type {
    opacity: 0; }
  .col-sm-4 .feature-icon:last-of-type {
    opacity: 1; }

  .col-sm-4:hover .feature-icon:first-of-type {
    opacity: 1; }
  .col-sm-4:hover .feature-icon:last-of-type {
    opacity: 0; } }
#feature .bl-red h3, #feature .bl-green h3, #feature .bl-cyan h3 {
  padding-bottom: 8px;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
#feature .bl-red h3 {
  border-bottom: 5px solid #ca6; }
#feature .bl-red b {
  color: #b00; }
#feature .bl-green h3 {
  border-bottom: 5px solid #bc9; }
#feature .bl-green b {
  color: #0b0; }
#feature .bl-cyan h3 {
  border-bottom: 5px solid #8bc; }
#feature .bl-cyan b {
  color: #00b; }
#feature .col-sm-4:hover.bl-red h3 {
  border-bottom: 5px solid #e42; }
#feature .col-sm-4:hover.bl-green h3 {
  border-bottom: 5px solid #9d2; }
#feature .col-sm-4:hover.bl-cyan h3 {
  border-bottom: 5px solid #29e; }

#footer {
  height: 40px;
  background: rgba(0, 0, 0, 0.5); }
  #footer .ib {
    margin: 10px 10px 0; }
  #footer .right {
    float: right; }
  #footer .item.logo img {
    display: none; }
  #footer .item.logo:after {
    font-style: italic;
    font-weight: 900;
    content: "FERN"; }
  #footer .item {
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }

@media (min-width: 800px) {
  #footer {
    height: 100px;
    background: rgba(0, 0, 0, 0.5); }
    #footer .ib {
      margin: 50px 100px 0; }
    #footer .right {
      float: right; }
    #footer .item {
      color: #fff;
      padding: 40px;
      display: inline-block; }
    #footer .item.logo {
      padding: 18px 0 0; }
      #footer .item.logo:after {
        display: none; }
    #footer .item.logo img {
      display: inline-block; } }
#dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/loading.gif) center center no-repeat rgba(0, 0, 0, 0.5);
  z-index: 1; }
  #dim .ib {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 50px 0 0 -50px;
    width: 100px;
    text-align: center;
    color: #fff; }

.dimmer.ng-hide-add, .dimmer.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  display: block !important;
  opacity: 1; }

.dimmer.ng-hide {
  opacity: 0; }

#order, #notify {
  max-width: 1024px;
  margin: 20px auto 20px;
  opacity: 0;
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }
  #order h2, #notify h2 {
    text-align: center; }
  #order .ib, #notify .ib {
    margin: 0 30px; }

#order.shown, #notify.shown {
  opacity: 1; }

#notify form {
  width: 80%;
  margin: auto; }

.text-danger, .text-success {
  display: inline;
  margin-left: 10px; }

#orderlist td {
  padding: 2px 10px 2px 0; }

#order-complete {
  margin-top: 40px; }

#order .choices {
  text-align: center;
  width: 100%;
  margin: auto; }
#order .choice {
  width: 280px;
  height: 295px;
  margin: 5px;
  position: relative;
  display: inline-block; }
  #order .choice .soldout {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/form/soldout.png) center center no-repeat;
    z-index: 6;
    width: 280px;
    height: 250px; }
  #order .choice .ib {
    margin: 0; }
  #order .choice .price {
    position: absolute;
    bottom: 37px;
    text-align: right;
    width: 100%; }
  #order .choice .color {
    width: 100%;
    height: 250px;
    margin-bottom: 10px; }
    #order .choice .color:before {
      content: " ";
      position: absolute;
      padding: 1px 3px;
      bottom: 7px;
      right: 25px;
      background: #000;
      color: #fff;
      font-weight: 999;
      display: block;
      width: 36px;
      height: 22px;
      border-radius: 5px;
      z-index: 6; }
  #order .choice .color.red {
    background: url(/img/form/color.png) 0 0 no-repeat; }
    #order .choice .color.red:before {
      content: "紅色";
      background: #f00; }
  #order .choice .color.green {
    background: url(/img/form/color.png) 0 -1068px no-repeat; }
    #order .choice .color.green:before {
      content: "綠色";
      background: #a2a32f; }
  #order .choice .color.cyan {
    background: url(/img/form/color.png) 0 -1335px no-repeat; }
    #order .choice .color.cyan:before {
      content: "水藍";
      background: #49e; }
  #order .choice .color.purple {
    background: url(/img/form/color.png) 0 -267px no-repeat; }
    #order .choice .color.purple:before {
      content: "紫色";
      background: #60b; }
  #order .choice .color.magenta {
    background: url(/img/form/color.png) 0 -801px no-repeat; }
    #order .choice .color.magenta:before {
      content: "紫紅";
      background: #b0b; }
  #order .choice .color.black {
    background: url(/img/form/color.png) 0 -534px no-repeat; }
    #order .choice .color.black:before {
      content: "黑色";
      background: #000; }
#order .choice.soldout .color {
  -webkit-filter: saturate(0);
  filter: saturate(0);
  opacity: 0.6; }
  #order .choice.soldout .color:before {
    display: none; }
  #order .choice.soldout .color:after {
    content: "已售完";
    display: block;
    position: absolute;
    z-index: 6;
    bottom: 7px;
    right: 75px; }

@media (max-width: 480px) {
  #order .choice {
    width: 48%;
    margin: 2px 0;
    height: 160px; }
    #order .choice .price {
      bottom: 0; }
    #order .choice .ib {
      margin: 0;
      height: 160px; }
      #order .choice .ib .color {
        height: 100%;
        background-size: contain;
        z-index: 5;
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-position: center center; }
        #order .choice .ib .color.red {
          background-image: url(/img/form/red.png); }
        #order .choice .ib .color.green {
          background-image: url(/img/form/green.png); }
        #order .choice .ib .color.cyan {
          background-image: url(/img/form/cyan.png); }
        #order .choice .ib .color.purple {
          background-image: url(/img/form/purple.png); }
        #order .choice .ib .color.magenta {
          background-image: url(/img/form/magenta.png); }
        #order .choice .ib .color.black {
          background-image: url(/img/form/black.png); }
        #order .choice .ib .color:before, #order .choice .ib .color:after {
          bottom: -28px;
          right: 34px;
          font-size: 0.8em;
          line-height: 1.6em;
          padding: 1px 0;
          width: 30px; }
        #order .choice .ib .color:after {
          width: 36px; } }
.radio label {
  vertical-align: middle; }

#about {
  width: 80%;
  margin: auto; }
  #about h2 {
    margin: 0 0 30px -7px; }
  #about p {
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    letter-spacing: 1px; }

.panel.thick {
  border-left-style: solid;
  border-left-width: 10px; }
  .panel.thick .panel-heading {
    border-top-left-radius: 0;
    font-weight: 900;
    font-size: 1.3em; }

.salestable {
  width: 100%; }
  .salestable th, .salestable td {
    text-align: center; }

.order .glyphicon {
  cursor: pointer; }

.admin-content {
  margin: 20px 20px 120px 20px; }

#admin-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(/img/logo/footer.png) left center no-repeat rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  height: 50px;
  line-height: 30px; }

#order-detail-modal .modal-dialog {
  width: 80%; }

.showlist .hidebtn {
  display: none; }

.hidelist .showbtn {
  display: none; }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.state-indicator {
  display: inline;
  font-size: 16px;
  vertical-align: middle; }
  .state-indicator .spinner {
    vertical-align: text-bottom;
    background-image: url(/img/spin.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px; }
  .state-indicator i.fa {
    min-width: 100px; }
  .state-indicator > * {
    height: 24px;
    line-height: 24px;
    text-align: left; }
    .state-indicator > *:after {
      display: inline;
      margin-left: 5px;
      color: #fff;
      vertical-align: text-bottom; }
    .state-indicator > *.fadeout {
      -ms-animation: fadeout 2s linear 1;
      -moz-animation: fadeout 2s linear 1;
      -webkit-animation: fadeout 2s linear 1;
      -o-animation: fadeout 2s linear 1;
      animation: fadeout 2s linear 1; }

.ajax-done, .ajax-fail {
  -ms-transition: all 1s linear 1s;
  -moz-transition: all 1s linear 1s;
  -webkit-transition: all 1s linear 1s;
  -o-transition: all 1s linear 1s;
  transition: all 1s linear 1s;
  opacity: 0;
  margin-left: 12px;
  min-width: 100px; }
  .ajax-done:after, .ajax-fail:after {
    width: 100%;
    color: #000; }

.ajax-done {
  color: #4c5; }
  .ajax-done:after {
    content: "完成"; }

.ajax-fail {
  color: #c54; }
  .ajax-fail:after {
    content: "錯誤"; }

.btn-primary .ajax-done:after, .btn-primary .ajax-fail:after, .btn-success .ajax-done:after, .btn-success .ajax-fail:after, .btn-danger .ajax-done:after, .btn-danger .ajax-fail:after, .btn-warning .ajax-done:after, .btn-warning .ajax-fail:after, .btn-info .ajax-done:after, .btn-info .ajax-fail:after {
  color: #fff; }

.btn-primary .state-indicator .spinner {
  background-image: url(/img/spin-primary.gif); }

.btn-success .state-indicator .spinner {
  background-image: url(/img/spin-success.gif); }

.btn-info .state-indicator .spinner {
  background-image: url(/img/spin-info.gif); }

.btn-warning .state-indicator .spinner {
  background-image: url(/img/spin-warning.gif); }

.btn-danger .state-indicator .spinner {
  background-image: url(/img/spin-danger.gif); }

#tracking-adwords {
  opacity: 0.01;
  height: 1px;
  overflow: hidden; }
