<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>FERN</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://fernwing.com/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="401">
    <meta property="og:image:height" content="401">
    <meta property="og:url" content="http://fernwing.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FernWing / 蕨之翼攻頂包">
    <meta property="og:description" content="為愛好休閒生活的您量身打造，輕巧、舒適、高機能性的隨身背包">
    <script type="text/javascript" src="/assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="/assets/angular/1.2.3/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angular/1.2.3/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48765647-1', 'fernwing.com');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/allpay.js"></script>
    <script type="text/javascript" src="/js/dbref.js"></script>
    <script type="text/javascript" src="/d/user"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="dim" ng-show="state==1" class="dimmer">
      <div class="ib">處理訂單中 .. </div>
    </div>
    <div id="feathers"></div>
    <div id="root">
      <div id="nav">
        <div class="ib"><a href="/" class="item logo"></a>
          <div class="right"><a href="/#brief" class="item">產品介紹</a><a href="/#order-info" class="item">購買</a><a href="/#about" class="item">關於我們</a>
            <endif></endif>
          </div>
        </div>
      </div>
      <div id="banner">
        <div id="banner-bk" delay-bk="/img/banner/bk1400-blur.jpg" class="delay-bk"></div>
        <div id="banner-logo" delay-bk="/img/logo/main.png" class="delay-bk"></div>
        <div id="banner-logo-sm" delay-bk="/img/logo/main-sm.png" class="delay-bk"></div>
        <div id="banner-logo-xs" delay-bk="/img/logo/white.png" class="delay-bk"></div>
        <div id="banner-subtitle">為愛好休閒生活的您量身打造，輕巧、舒適、高機能性的隨身背包</div><a id="banner-golook" href="/#gallery">
          <div class="desc">現在就來瞧瞧他的外觀</div><i class="glyphicon glyphicon-chevron-down"></i></a>
      </div>
      <div id="content">
        <div id="gallery">
          <div delay-bk="/img/gallery/01.jpg" class="brick two delay-bk"></div>
          <div class="brick-group one">
            <div delay-bk="/img/gallery/10.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
            <div delay-bk="/img/gallery/06.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
          </div>
          <div delay-bk="/img/gallery/04.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/05.jpg" class="brick one vg4 vg5 vg6 vg7 vg8 delay-bk"></div>
          <div delay-bk="/img/gallery/12.jpg" class="brick two vg4 delay-bk"></div>
          <div delay-bk="/img/gallery/09.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/08.jpg" class="brick one vg3 vg4 vg5 vg6 vg7 vg8 delay-bk"></div>
          <div class="brick-group one vg1">
            <div delay-bk="/img/gallery/10.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
            <div delay-bk="/img/gallery/06.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
          </div>
          <div delay-bk="/img/gallery/12.jpg" class="brick two vg6 delay-bk"></div>
          <div delay-bk="/img/gallery/07.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/03.jpg" class="brick two delay-bk"></div><br class="clear">
        </div>
        <div id="gallery-xs"><img src="/img/gallery/320/01.jpg"><img src="/img/gallery/320/07.jpg"><img src="/img/gallery/320/02.jpg"><img src="/img/gallery/320/06.jpg"><img src="/img/gallery/320/04.jpg"><img src="/img/gallery/320/05.jpg"></div><br class="clear"><br class="clear"><br class="clear">
      </div><a name="brief"></a>
      <div>
        <div id="content">
          <div id="feature">
            <div id="wing-feature" delay-bk="/img/wing.png" class="wing delay-bk"></div><br>
            <h2>滿足您對背包的期待與渴望</h2><br><br>
            <div class="row">
              <div class="col-sm-4 bl-red">
                <div class="feature">
                  <div delay-bk="/img/feature/a.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/a-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3>極舒適</h3>
                <p>
                   
                  一般輕量化背包為了減少重量會在背負系統妥協而影響舒適性，然而<b>蕨休閒背包</b>在輕量化的同時仍使用<b>透氣可調式肩帶</b>，良好的背負系統讓你即使在日常生活中使用它也不會有額外的負擔。
                </p>
              </div>
              <div class="col-sm-4 bl-green">
                <div class="feature">
                  <div delay-bk="/img/feature/b.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/b-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3>超輕量</h3>
                <p>
                   
                  重量不到<b>300 克</b>，甚至比一盒<b>鋁箔包飲料</b>還輕。收納後大約<b>一個手掌大</b>，節省家中儲藏空間，也節省登山背包的珍貴容量，無論登山、旅遊、通勤、甚至上賣場，你沒有理由不隨身帶上一個。
                </p>
              </div>
              <div class="col-sm-4 bl-cyan">
                <div class="feature">
                  <div delay-bk="/img/feature/c.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/c-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3>高機能性</h3>
                <p>輕量化的同時仍保有<b>雙側袋</b>、<b>前袋</b>以及<b>拉鏈帶</b>，妥善的分隔讓你瞬間就能找到東西。水壺雨具在側邊、錢包零錢在前袋，甚至<b>不需卸下背包</b>就能取得，現在就把其他機能不良的背包丟了吧。</p>
              </div>
            </div>
          </div>
          <div id="detail">
            <div class="item">
              <div delay-bk="/img/detail/02.jpg" class="img delay-bk"></div>
              <div class="title">方便的側袋與前袋隔間</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/04.jpg" class="img delay-bk"></div>
              <div class="title">透氣且排汗的背包背帶</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/06.jpg" class="img delay-bk"></div>
              <div class="title">背帶可以迅速調整長度</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/05.jpg" class="img delay-bk"></div>
              <div class="title">易拉的拉鏈並附有拉帶</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/03.jpg" class="img delay-bk"></div>
              <div class="title">增添設計感的背包花紋</div>
            </div>
            <div class="item w480">
              <div delay-bk="/img/detail/07.jpg" class="img delay-bk"></div>
              <div class="title">適合各式各樣場合使用</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/08.jpg" class="img delay-bk"></div>
              <div class="title">收納後輕便的體積重量</div>
            </div>
            <div class="item w1260">
              <div delay-bk="/img/detail/09.jpg" class="img delay-bk"></div>
              <div class="title">多種顏色款式可供選擇</div>
            </div>
            <!--.item.dashed
            .img: .ib
              | 想要嗎？
              br
              a(href="#order-info") 立刻訂購吧！
            -->
            <div id="spec" class="item">
              <div class="desc">
                <div class="ib">
                  <h3>產品規格<small> / 蕨之翼隨身背包</small></h3>
                  <ul>
                    <li>容量: 25升</li>
                    <li>
                       
                      重量: <b>199公克</b>，三顆蛋的重量
                    </li>
                    <li>正常尺寸: 高 36cm / 寬 24cm / 深 14cm</li>
                    <li>收納尺寸: 長 19cm / 寬 17cm</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><br class="clear"><br><br>
          <div id="order-info"></div>
          <hr>
          <div id="notify" ng-show="status.status!=1" class="shown">
            <div ng-controller="notify">
              <div class="ib">
                <h1 class="text-center">訂購資訊</h1><br>
                <h2>還沒開賣，有興趣嗎？請留下 email 讓我們通知您</h2><br><br>
              </div>
              <form name="notifyform" novalidate class="form-inline text-center">
                <div ng-class="fix('email')" class="form-group">
                  <label>電子郵件信箱<span ng-show="needFix &amp;&amp; notifyform.email.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="notifyform.email.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!notifyform.email.$error.required" class="text-danger">這不是正確的電子郵件信箱
                      </div></span>
                    <div ng-show="!notifyform.email.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label>
                  <input type="email" placeholder="例如：john@mail.tw" ng-disabled="state!=0" name="email" ng-model="email" required class="form-control input-lg">
                </div>
                <div ng-click="submit()" style="vertical-align:bottom" ng-disabled="state!=0" class="btn btn-danger btn-lg">送出</div>
              </form><br>
              <h2 ng-show="state==1">
                <ldstate ng-model="status.value"></ldstate>
              </h2>
              <h2 ng-show="state==2">感謝您的回饋！</h2>
            </div>
          </div>
          <div id="order" ng-show="status.status==1">
            <div class="ib">
              <h2> <i class="glyphicon glyphicon-phone-alt"></i> 現在就訂購！</h2><br>
              <form name="orderform" novalidate>
                <h4><i class="glyphicon glyphicon-list-alt"></i> 選擇數量</h4>
                <div class="choices">
                  <div ng-class="{'soldout':!avail.red}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.red}} 元</span><span ng-show="count.red"> x {{count.red}} = {{price.red * count.red}} 元</span></div>
                      <div class="color red"></div>
                      <select ng-disabled="!avail.red" name="count_red" ng-model="count.red" ng-options="v for v in choicelist['red']" class="form-control red">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.green}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.green}} 元</span><span ng-show="count.green"> x {{count.green}} = {{price.green * count.green}} 元</span></div>
                      <div class="color green"></div>
                      <select ng-disabled="!avail.green" name="count_green" ng-model="count.green" ng-options="v for v in choicelist['green']" class="form-control green">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.cyan}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.cyan}} 元</span><span ng-show="count.cyan"> x {{count.cyan}} = {{price.cyan * count.cyan}} 元</span></div>
                      <div class="color cyan"></div>
                      <select ng-disabled="!avail.cyan" name="count_cyan" ng-model="count.cyan" ng-options="v for v in choicelist['cyan']" class="form-control cyan">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.purple}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.purple}} 元</span><span ng-show="count.purple"> x {{count.purple}} = {{price.purple * count.purple}} 元</span></div>
                      <div class="color purple"></div>
                      <select ng-disabled="!avail.purple" name="count_purple" ng-model="count.purple" ng-options="v for v in choicelist['purple']" class="form-control purple">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.magenta}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.magenta}} 元</span><span ng-show="count.magenta"> x {{count.magenta}} = {{price.magenta * count.magenta}} 元</span></div>
                      <div class="color magenta"></div>
                      <select ng-disabled="!avail.magenta" name="count_magenta" ng-model="count.magenta" ng-options="v for v in choicelist['magenta']" class="form-control magenta">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.black}" class="choice">
                    <div class="ib">
                      <div class="price"><span>每個 {{price.black}} 元</span><span ng-show="count.black"> x {{count.black}} = {{price.black * count.black}} 元</span></div>
                      <div class="color black"></div>
                      <select ng-disabled="!avail.black" name="count_black" ng-model="count.black" ng-options="v for v in choicelist['black']" class="form-control black">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                </div><br class="clear"><br>
                <h4><i class="glyphicon glyphicon-shopping-cart"></i> 運送資訊</h4><br>
                <div ng-class="fix('name')" class="form-group">
                  <label>收件人<span ng-show="needFix &amp;&amp; orderform.name.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="orderform.name.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!orderform.name.$error.required" class="text-danger">這不是正確的姓名
                      </div></span>
                    <div ng-show="!orderform.name.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label>
                  <input type="text" placeholder="例如： 王永仁" ng-disabled="!want || state!=0" name="name" ng-model="name" required ng-minlength="2" class="form-control">
                </div>
                <div ng-class="fix('addr')" class="form-group">
                  <label>寄送地址<span ng-show="needFix &amp;&amp; orderform.addr.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="orderform.addr.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!orderform.addr.$error.required" class="text-danger">這不是正確的地址
                      </div></span>
                    <div ng-show="!orderform.addr.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label>
                  <input type="text" placeholder="例如：台北市士林區福港街 12 號" ng-disabled="!want || state!=0" name="addr" ng-model="addr" required ng-minlength="5" class="form-control">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div ng-class="fix('phone')" class="form-group">
                      <label>聯絡電話<span ng-show="needFix &amp;&amp; orderform.phone.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                          <div ng-show="orderform.phone.$error.required" class="text-danger">此欄位爲必填</div>
                          <div ng-show="!orderform.phone.$error.required" class="text-danger">這不是正確的電話
                          </div></span>
                        <div ng-show="!orderform.phone.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                      </label>
                      <input type="text" placeholder="例如： 0912312412 ( 於送貨時聯絡用 )" ng-disabled="!want || state!=0" name="phone" ng-model="phone" required ng-minlength="7" ng-pattern="/[0-9-() ]/" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div ng-class="fix('email')" class="form-group">
                      <label>電子郵件信箱<span ng-show="needFix &amp;&amp; orderform.email.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                          <div ng-show="orderform.email.$error.required" class="text-danger">此欄位爲必填</div>
                          <div ng-show="!orderform.email.$error.required" class="text-danger">這不是正確的電子郵件信箱
                          </div></span>
                        <div ng-show="!orderform.email.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                      </label>
                      <input type="email" placeholder="例如：john@mail.tw ( 訂單會同時以信件寄給您 )" ng-disabled="user || !want || state!=0" name="email" ng-model="email" required class="form-control">
                    </div>
                  </div>
                </div><br>
                <div id="order-detail" class="barblock green">
                  <h4><i class="glyphicon glyphicon-th-list"></i><span> 訂單明細</span></h4>
                  <div class="desc"><span ng-show="priceTotal()"> 您所選購的商品為</span><span ng-show="!priceTotal()"> 您尚未選購任何背包</span>
                    <ul ng-show="priceTotal()">
                      <li ng-show="count.red">紅色背包 {{count.red}} 個 x {{price.red}} 元</li>
                      <li ng-show="count.green">綠色背包 {{count.green}} 個 x {{price.green}} 元</li>
                      <li ng-show="count.cyan">藍色背包 {{count.cyan}} 個 x {{price.cyan}} 元</li>
                      <li ng-show="count.purple">紫色背包 {{count.purple}} 個 x {{price.purple}} 元</li>
                      <li ng-show="count.magenta">紫紅色背包 {{count.magenta}} 個 x {{price.magenta}} 元</li>
                      <li ng-show="count.black">黑色背包 {{count.black}} 個 x {{price.black}} 元</li>
                      <li>運費 50 元</li>
                    </ul>
                  </div>
                  <div ng-show="priceTotal()" class="total"><i class="glyphicon glyphicon-tag"></i> 此筆訂單的總金額為：<span class="red">{{priceTotal()}} </span> 元</div>
                </div><br>
                <button type="submit" ng-disabled="!priceTotal() || !want || state!=0" ng-click="submit()" ng-hide="state==2" class="btn btn-danger btn-block btn-lg">選擇付款方式並送出訂單</button>
                <div ng-show="fix('name') || fix('addr') || fix('email') || fix('password') || fix('phone')" class="text-danger">您所填的資料有點問題，請修正後重新送出</div>
                <button type="submit" ng-disabled="true" ng-click="submit()" ng-show="state==2" class="btn btn-default">訂購完成!</button>
                <button type="submit" ng-click="clearForm()" ng-show="state==2" class="btn btn-success">我要追加</button><br><br>
                <p>* 商品訂購後將於 5 ~ 7 天內出貨</p>
              </form>
            </div>
            <form id="allpayform" action="http://payment-stage.allpay.com.tw/Cashier/AioCheckOut" method="POST">
              <input type="hidden" name="MerchantID" ng-value="allPayData.MerchantID" class="form-control">
              <input type="hidden" name="MerchantTradeNo" ng-value="allPayData.MerchantTradeNo" class="form-control">
              <input type="hidden" name="MerchantTradeDate" ng-value="allPayData.MerchantTradeDate" class="form-control">
              <input type="hidden" name="PaymentType" ng-value="allPayData.PaymentType" class="form-control">
              <input type="hidden" name="TotalAmount" ng-value="allPayData.TotalAmount" class="form-control">
              <input type="hidden" name="TradeDesc" ng-value="allPayData.TradeDesc" class="form-control">
              <input type="hidden" name="ItemName" ng-value="allPayData.ItemName" class="form-control">
              <input type="hidden" name="ReturnURL" ng-value="allPayData.ReturnURL" class="form-control">
              <input type="hidden" name="OrderResultURL" ng-value="allPayData.OrderResultURL" class="form-control">
              <input type="hidden" name="ChoosePayment" ng-value="allPayData.ChoosePayment" class="form-control">
              <input type="hidden" name="PaymentInfoURL" ng-value="allPayData.PaymentInfoURL" class="form-control">
              <input type="hidden" name="IgnorePayment" ng-value="allPayData.IgnorePayment" class="form-control">
              <input type="hidden" name="CheckMacValue" ng-value="allPayData.CheckMacValue" class="form-control">
            </form>
          </div>
        </div><br class="clear"><br>
        <hr><br><br>
        <div id="about">
          <div class="ib">
            <h2> <img src="/img/logo/icon-black.png"> 關於我們</h2>
            <p>喜愛戶外運動的我們，常在陽光灑落的杉林中穿梭、嗅著山間青色的味道，輕盈的步伐跳躍在佈滿星蕨的泥土小徑上，露水沾濕了褲管，卻洗去了沈重的形象。我們常思考著，背包不應是旅行的負擔，而應該是生長在旅者背後的一對翅膀，帶著我們翩翩躍於旅人的行跡間。</p><br>
            <p>大多數的登山攻頂包為了輕量化而減去了機能，就像剪去羽毛的翅膀一般，而蕨之翼拒絕了這樣的妥協。隱喻著翅膀的蕨，拓印在每個蕨之翼的背包上，彷彿讓每位使用者都長出了翅膀，於各自的旅程間敖翔。</p><br>
            <p>此外，我們也注意到，時尚與機能之間，並不存在一條明顯的分界線；當回到文明社會之時，蕨之翼簡單清新的外觀，就像鳥兒收起了雙翼般，伴隨你徘徊在熱鬧繁華的街道之間。</p><br>
            <p>你不再需要很多個背包了。你只需要一對翅膀。</p>
          </div>
        </div><br>
        <div style="width:60%;margin:auto"><a href="/#order-info" class="btn btn-danger btn-block btn-lg">現在就訂購</a></div><br><br>
        <div id="orderlist" role="dialog" aria-labelledby="orderlist" aria-hidden="true" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">訂單列表</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <th>姓名</th>
                    <th>地址</th>
                    <th>電子郵件</th>
                    <th>電話</th>
                  </tr>
                  <tr ng-repeat="(k,v) in orders.pending"> 
                    <td>{{v[0]}}</td>
                    <td>{{v[1]}}</td>
                    <td>{{v[2]}}</td>
                    <td>{{v[3]}}</td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
      </div>
      <div id="content">
        <div id="attribution" role="dialog" aria-labelledby="attribution" aria-hidden="true" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">此網站使用的素材</h4>
              </div>
              <div class="modal-body">
                <h4>
                   
                  圖示<small> / 來自 <a href="http://thenounproject.com/">noun projects</a></small>
                </h4>
                <ul>
                  <li>"<a href="http://thenounproject.com/term/bird/27693/">Bird</a>", by Harvey Modhar</li>
                  <li>"<a href="http://thenounproject.com/term/backpack/2551/">Backpack</a>", by Rémy Médard</li>
                  <li>"<a href="http://thenounproject.com/term/gears/9428/">Gears</a>", by Max Hancock</li>
                  <li>"<a href="http://thenounproject.com/term/camera/766/">Camera</a>", by Dave Tappy</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">關閉</button>
              </div>
            </div>
          </div>
        </div>
        <div id="footer">
          <div class="ib">
            <div class="item logo"><img src="/img/logo/footer.png"></div>
            <div class="right"><a href="mailto:contact@fernwing.com" class="item">聯絡我們</a><a href="/privacy.html" class="item">隱私權政策</a><a href="/eula.html" class="item">使用者條款</a><a data-toggle="modal" data-target="#attribution" class="item">誌謝</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>