<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>FERN</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="https://www.fernwing.com/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="401">
    <meta property="og:image:height" content="401">
    <meta property="og:url" content="https://www.fernwing.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FernWing / 蕨之翼攻頂包">
    <meta property="og:description" content="為愛好休閒生活的您量身打造，輕巧、舒適、高機能性的隨身背包">
    <!-- custom files-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48765647-1', 'fernwing.com');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="js/generated.min.js"></script>
    <script type="text/javascript" src="/d/user"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <style type="text/css">
      #dim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: center center no-repeat rgba(255,255,255,1);
        z-index: 100;
      }
      #dim .ib, #dim.ib2 {
        position: fixed;
        top: 50%;
        left: 50%;
        margin: 50px 0 0 -50px;
        width: 100px;
        text-align: center;
        color: #fff;
      }
      #dim .ib { display: none; }
      #dim .ib2 { color: #000; }
      
    </style>
    <div id="dim" ng-show="state==1" ng-class="{'active':inited}" class="dimmer">
      <div ng-show="!inited" class="ib2">開啟網站中 ..</div>
      <div class="ib">處理訂單中 .. </div>
    </div>
    <div id="feathers"></div>
    <div id="root">
      <div id="nav">
        <div class="ib"><a href="/" class="item logo"></a>
          <div class="right"><a href="/#brief" class="item">產品介紹</a><a href="/#order-info" class="item">購買</a><a href="/#about" class="item">聯絡我們</a>
            <endif></endif>
          </div>
        </div>
      </div>
      <div id="banner">
        <div id="banner-bk" delay-bk="/img/banner/bk1400-blur.jpg" class="delay-bk"></div>
        <div id="banner-logo" delay-bk="/img/logo/main.png" class="delay-bk"></div>
        <div id="banner-logo-sm" delay-bk="/img/logo/main-sm.png" class="delay-bk"></div>
        <div id="banner-logo-xs" delay-bk="/img/logo/white.png" class="delay-bk"></div>
        <div id="banner-subtitle">為愛好休閒生活的您量身打造，輕巧、舒適、高機能性的隨身背包</div><a id="banner-golook" href="/#gallery">
          <div class="desc">現在就來瞧瞧他的外觀</div><i class="glyphicon glyphicon-chevron-down"></i></a>
      </div>
      <div id="content">
        <div id="gallery">
          <div delay-bk="/img/gallery/01.jpg" class="brick two delay-bk"></div>
          <div class="brick-group one">
            <div delay-bk="/img/gallery/10.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
            <div delay-bk="/img/gallery/06.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
          </div>
          <div delay-bk="/img/gallery/04.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/05.jpg" class="brick one vg4 vg5 vg6 vg7 vg8 delay-bk"></div>
          <div delay-bk="/img/gallery/12.jpg" class="brick two vg4 delay-bk"></div>
          <div delay-bk="/img/gallery/09.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/08.jpg" class="brick one vg3 vg4 vg5 vg6 vg7 vg8 delay-bk"></div>
          <div class="brick-group one vg1">
            <div delay-bk="/img/gallery/10.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
            <div delay-bk="/img/gallery/06.jpg" style="margin-bottom:2px" class="brick one half delay-bk"></div>
          </div>
          <div delay-bk="/img/gallery/12.jpg" class="brick two vg6 delay-bk"></div>
          <div delay-bk="/img/gallery/07.jpg" class="brick one delay-bk"></div>
          <div delay-bk="/img/gallery/03.jpg" class="brick two delay-bk"></div><br class="clear">
        </div>
        <div id="gallery-xs"><img src="/img/gallery/320/all.jpg">
        </div><br class="clear"><br class="clear">
      </div><a name="brief"></a>
      <div>
        <div id="content">
          <div id="feature">
            <div class="text-center"><a id="order-now" href="#order-info" class="btn btn-danger btn-lg">心動了嗎？點我訂購</a></div>
            <!--.wing.delay-bk#wing-feature.hidden-xs(delay-bk="/img/wing-white.png")-->
            <h2> <span>三個特色，</span><br class="visible-xs"><span>滿足您對背包的期待與渴望</span></h2><br>
            <div class="row">
              <div class="col-sm-4 bl-red">
                <div class="feature">
                  <div delay-bk="/img/feature/a.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/a-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3 id="feature-trilogy">極舒適</h3>
                <p class="visible-xs">一般輕量背包常在背負系統妥協而影響舒適性，但是<b>蕨之翼</b>在輕量化時仍使用<b>透氣可調式肩帶</b>，讓你即使日常使用也不會有額外負擔。</p>
                <p class="hidden-xs">
                   
                  一般輕量化背包為了減少重量會在背負系統妥協而影響舒適性，然而<b>蕨休閒背包</b>在輕量化的同時仍使用<b>透氣可調式肩帶</b>，良好的背負系統讓你即使在日常生活中使用它也不會有額外的負擔。
                </p>
              </div>
              <div class="col-sm-4 bl-green">
                <div class="feature">
                  <div delay-bk="/img/feature/b.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/b-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3>超輕量</h3>
                <p class="visible-xs">僅<b> 199 公克</b>- 比一盒<b> 鋁箔包</b> 還輕，收納後就如手掌大，節省家中空間與行李箱容量，無論旅遊、通勤、甚至上賣場，沒有理由不將他帶上。</p>
                <p class="hidden-xs">
                   
                  重量不到<b>200 克</b>，甚至比一盒<b>鋁箔包飲料</b>還輕。收納後大約<b>一個手掌大</b>，節省家中儲藏空間，也節省登山背包的珍貴容量，無論登山、旅遊、通勤、甚至上賣場，你沒有理由不隨身帶上一個。
                </p>
              </div>
              <div class="col-sm-4 bl-cyan">
                <div class="feature">
                  <div delay-bk="/img/feature/c.png" class="feature-icon delay-bk"></div>
                  <div delay-bk="/img/feature/c-2.png" class="feature-icon delay-bk"></div>
                </div>
                <h3>高機能性</h3>
                <p class="visible-xs">在輕量化的同時仍保有<b>雙側袋</b>、<b>前袋</b>以及<b>拉鏈帶</b>，讓您輕易就找到東西放在哪，現在就把其他機能不良的背包丟了吧。</p>
                <p class="hidden-xs">輕量化的同時仍保有<b>雙側袋</b>、<b>前袋</b>以及<b>拉鏈帶</b>，妥善的分隔讓你瞬間就能找到東西。水壺雨具在側邊、錢包零錢在前袋，甚至<b>不需卸下背包</b>就能取得，現在就把其他機能不良的背包丟了吧。</p>
              </div>
            </div>
          </div>
          <div delay-bk="/img/wing-white.png" class="wing delay-bk hidden-xs"></div>
          <h4 class="text-center"><b>更多特色</b></h4><br>
          <div id="detail">
            <div class="item">
              <div delay-bk="/img/detail/08.jpg" class="img delay-bk"></div>
              <div class="title">收納後輕便的體積重量</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/04.jpg" class="img delay-bk"></div>
              <div class="title">透氣且排汗的背包背帶</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/02.jpg" class="img delay-bk"></div>
              <div class="title">方便的側袋與前袋隔間</div>
            </div>
            <div class="item hidden-xs">
              <div delay-bk="/img/detail/06.jpg" class="img delay-bk"></div>
              <div class="title">背帶可以迅速調整長度</div>
            </div>
            <div class="item hidden-xs">
              <div delay-bk="/img/detail/05.jpg" class="img delay-bk"></div>
              <div class="title">易拉的拉鏈並附有拉帶</div>
            </div>
            <div class="item">
              <div delay-bk="/img/detail/03.jpg" class="img delay-bk"></div>
              <div class="title">增添設計感的背包花紋</div>
            </div>
            <div class="item w480">
              <div delay-bk="/img/detail/07.jpg" class="img delay-bk"></div>
              <div class="title">適合各式各樣場合使用</div>
            </div>
            <div class="item w1260">
              <div delay-bk="/img/detail/09.jpg" class="img delay-bk"></div>
              <div class="title">多種顏色款式可供選擇</div>
            </div>
            <div id="spec" class="item">
              <div class="desc">
                <div class="ib">
                  <h3>產品規格<small> / 蕨之翼隨身背包</small></h3>
                  <ul>
                    <li>容量: 25升</li>
                    <li>
                       
                      重量: <b>199公克</b>，三顆蛋的重量
                    </li>
                  </ul>
                  <ul>
                    <li>尺寸: 高 36 / 寬 24 / 深 14 (公分)</li>
                    <li>收納後: 長 19 / 寬 17 (公分)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div><br class="clear"><br>
          <div id="order-info"></div>
          <hr class="hidden-xs">
          <div id="notify" ng-show="status.status!=1" class="shown">
            <div ng-controller="notify">
              <div class="ib">
                <h1 class="text-center">訂購資訊</h1><br>
                <h2>還沒開賣，有興趣嗎？請留下 email 讓我們通知您</h2><br><br>
              </div>
              <form name="notifyform" novalidate class="form-inline text-center">
                <div ng-class="fix('email')" class="form-group">
                  <label>電子郵件信箱<span ng-show="needFix &amp;&amp; notifyform.email.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="notifyform.email.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!notifyform.email.$error.required" class="text-danger">這不是正確的電子郵件信箱
                      </div></span>
                    <div ng-show="!notifyform.email.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label>
                  <input type="email" placeholder="例如：john@mail.tw" ng-disabled="state!=0" name="email" ng-model="email" required class="form-control input-lg">
                </div>
                <div ng-click="submit()" style="vertical-align:bottom" ng-disabled="state!=0" class="btn btn-danger btn-lg">送出</div>
              </form><br>
              <h2 ng-show="state==1">
                <ldstate ng-model="status.value"></ldstate>
              </h2>
              <h2 ng-show="state==2">感謝您的回饋！</h2>
            </div>
          </div>
          <div id="order" ng-show="status.status==1" class="shown">
            <div class="ib">
              <h2> <i class="glyphicon glyphicon-phone-alt"></i> 現在就訂購！</h2>
              <div class="text-center">蕨之翼採貨到付款，安全有保障</div><br>
              <form name="orderform" novalidate>
                <h4><i class="glyphicon glyphicon-shopping-cart"></i> 第一步、選擇數量</h4>
                <div class="choices">
                  <div ng-class="{'soldout':!avail.red}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.red">每個 </span><span>{{price.red}} 元</span><span ng-show="count.red"> x {{count.red}} = {{price.red * count.red}} 元</span></div>
                      <div class="color red"></div>
                      <select ng-disabled="!avail.red" name="count_red" ng-model="count.red" ng-options="v for v in choicelist['red']" class="form-control red">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.green}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.green">每個 </span><span>{{price.green}} 元</span><span ng-show="count.green"> x {{count.green}} = {{price.green * count.green}} 元</span></div>
                      <div class="color green"></div>
                      <select ng-disabled="!avail.green" name="count_green" ng-model="count.green" ng-options="v for v in choicelist['green']" class="form-control green">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.cyan}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.cyan">每個 </span><span>{{price.cyan}} 元</span><span ng-show="count.cyan"> x {{count.cyan}} = {{price.cyan * count.cyan}} 元</span></div>
                      <div class="color cyan"></div>
                      <select ng-disabled="!avail.cyan" name="count_cyan" ng-model="count.cyan" ng-options="v for v in choicelist['cyan']" class="form-control cyan">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.purple}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.purple">每個 </span><span>{{price.purple}} 元</span><span ng-show="count.purple"> x {{count.purple}} = {{price.purple * count.purple}} 元</span></div>
                      <div class="color purple"></div>
                      <select ng-disabled="!avail.purple" name="count_purple" ng-model="count.purple" ng-options="v for v in choicelist['purple']" class="form-control purple">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.magenta}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.magenta">每個 </span><span>{{price.magenta}} 元</span><span ng-show="count.magenta"> x {{count.magenta}} = {{price.magenta * count.magenta}} 元</span></div>
                      <div class="color magenta"></div>
                      <select ng-disabled="!avail.magenta" name="count_magenta" ng-model="count.magenta" ng-options="v for v in choicelist['magenta']" class="form-control magenta">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                  <div ng-class="{'soldout':!avail.black}" class="choice">
                    <div class="ib">
                      <div class="price"><span ng-show="!count.black">每個 </span><span>{{price.black}} 元</span><span ng-show="count.black"> x {{count.black}} = {{price.black * count.black}} 元</span></div>
                      <div class="color black"></div>
                      <select ng-disabled="!avail.black" name="count_black" ng-model="count.black" ng-options="v for v in choicelist['black']" class="form-control black">
                        <option value="0">0</option>
                      </select>
                    </div>
                  </div>
                </div><br class="clear"><br>
                <h4 id="ship-info"><i class="glyphicon glyphicon-list-alt"></i> 第二步、運送資訊</h4><br>
                <div ng-class="fix('name')" class="form-group">
                  <label>收件人<span ng-show="needFix &amp;&amp; orderform.name.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="orderform.name.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!orderform.name.$error.required" class="text-danger">這不是正確的姓名
                      </div></span>
                    <div ng-show="!orderform.name.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label>
                  <input type="text" placeholder="例如： 王永仁" ng-disabled="!want || state!=0" name="name" ng-model="name" required ng-minlength="2" class="form-control">
                </div>
                <div ng-class="fix('addr')" class="form-group">
                  <label>寄送地址<span ng-show="needFix &amp;&amp; orderform.addr.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                      <div ng-show="orderform.addr.$error.required" class="text-danger">此欄位爲必填</div>
                      <div ng-show="!orderform.addr.$error.required" class="text-danger">這不是正確的地址
                      </div></span>
                    <div ng-show="!orderform.addr.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                  </label><br>
                  <div class="row">
                    <div class="col-sm-4">
                      <div id="countychooser" class="row">
                        <div class="col-xs-6">
                          <select ng-model="county" ng-options="c for c in countylist" class="form-control"></select>
                        </div>
                        <div class="col-xs-6">
                          <select ng-model="town" ng-options="t for t in townlist[county]" class="form-control"></select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" placeholder="例如：福港街 12 號" ng-disabled="!want || state!=0" name="addr" ng-model="addr" required ng-minlength="5" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div ng-class="fix('phone')" class="form-group">
                      <label>聯絡電話<span ng-show="needFix &amp;&amp; orderform.phone.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                          <div ng-show="orderform.phone.$error.required" class="text-danger">此欄位爲必填</div>
                          <div ng-show="!orderform.phone.$error.required" class="text-danger">這不是正確的電話
                          </div></span>
                        <div ng-show="!orderform.phone.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                      </label>
                      <input type="text" placeholder="例如： 0912312412 ( 於送貨時聯絡用 )" ng-disabled="!want || state!=0" name="phone" ng-model="phone" required ng-minlength="7" ng-pattern="/[0-9-() ]/" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div ng-class="fix('email')" class="form-group">
                      <label>電子郵件信箱<span ng-show="needFix &amp;&amp; orderform.email.$invalid"><i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                          <div ng-show="orderform.email.$error.required" class="text-danger">此欄位爲必填</div>
                          <div ng-show="!orderform.email.$error.required" class="text-danger">這不是正確的電子郵件信箱
                          </div></span>
                        <div ng-show="!orderform.email.$invalid" class="text-success"><i class="glyphicon glyphicon-ok-sign"></i></div>
                      </label>
                      <input type="email" placeholder="例如：john@mail.tw ( 訂單會同時以信件寄給您 )" ng-disabled="!want || state!=0" name="email" ng-model="email" required class="form-control">
                    </div>
                  </div>
                </div><br>
                <div id="order-detail" class="barblock green">
                  <h4><i class="glyphicon glyphicon-th-list"></i><span> 訂單明細</span></h4>
                  <div class="desc"><span ng-show="priceTotal()"> 您所選購的商品為</span><span ng-show="!priceTotal()"> 您尚未選購任何背包</span>
                    <ul ng-show="priceTotal()">
                      <li ng-show="count.red">紅色背包 {{count.red}} 個 x {{price.red}} 元</li>
                      <li ng-show="count.green">綠色背包 {{count.green}} 個 x {{price.green}} 元</li>
                      <li ng-show="count.cyan">藍色背包 {{count.cyan}} 個 x {{price.cyan}} 元</li>
                      <li ng-show="count.purple">紫色背包 {{count.purple}} 個 x {{price.purple}} 元</li>
                      <li ng-show="count.magenta">紫紅色背包 {{count.magenta}} 個 x {{price.magenta}} 元</li>
                      <li ng-show="count.black">黑色背包 {{count.black}} 個 x {{price.black}} 元</li>
                      <li>運費 50 元</li>
                    </ul>
                  </div>
                  <div ng-show="priceTotal()" class="total"><i class="glyphicon glyphicon-tag"></i> 此筆訂單的總金額為：<span class="red">{{priceTotal()}} </span> 元</div>
                </div><br>
                <h4><i class="glyphicon glyphicon-credit-card"></i> 最後，選擇貨物送達時間</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" ng-disabled="!priceTotal() || !want || state!=0" ng-click="submit(1)" class="btn btn-danger btn-block btn-lg">
                      貨到付款
                      - 白天 09:00 ~ 18:00
                    </button><br>
                  </div>
                  <div class="col-sm-6">
                    <button type="submit" ng-disabled="!priceTotal() || !want || state!=0" ng-click="submit(2)" class="btn btn-danger btn-block btn-lg">
                      貨到付款
                      - 晚上 18:00 ~ 21:00
                    </button>
                  </div>
                </div><br>
                <div id="order-complete-anchor"></div>
                <div id="ssl"><img src="img/SSL.png" style="width:64px">
                  <div style="display:inline-block;vertical-align:middle">我們使用 SSL 連線，<br>保障您的資料安全</div>
                </div>
                <div ng-show="fix('name') || fix('addr') || fix('email') || fix('password') || fix('phone')" class="text-danger">您所填的資料有點問題，請修正後重新送出</div>
                <div id="order-complete" ng-show="state==2">
                  <h3><i class="glyphicon glyphicon-ok"></i> 訂購完成！</h3>
                  <p>感謝您的訂購！我們同時寄送了一封訂購明細至您所提供的信箱，以便您確認訂購內容。</p>
                  <button type="submit" ng-click="clearForm()" class="btn btn-success">想要再多買幾個嗎？按我追加</button>
                </div><br><br>
                <p>
                   
                  * 商品訂購後將於 5 ~ 7 天內出貨
                </p>
                <p>* 若需修改或取消訂單，請來信至 <a href="mailto:contact@fernwing.com">客服信箱</a> 並告知您的姓名與修改內容，我們將竭誠為您服務。</p>
              </form>
            </div>
            <form id="allpayform" action="https://payment.allpay.com.tw/Cashier/AioCheckOut" method="POST">
              <input type="hidden" name="MerchantID" ng-value="allPayData.MerchantID" class="form-control">
              <input type="hidden" name="MerchantTradeNo" ng-value="allPayData.MerchantTradeNo" class="form-control">
              <input type="hidden" name="MerchantTradeDate" ng-value="allPayData.MerchantTradeDate" class="form-control">
              <input type="hidden" name="PaymentType" ng-value="allPayData.PaymentType" class="form-control">
              <input type="hidden" name="TotalAmount" ng-value="allPayData.TotalAmount" class="form-control">
              <input type="hidden" name="TradeDesc" ng-value="allPayData.TradeDesc" class="form-control">
              <input type="hidden" name="ItemName" ng-value="allPayData.ItemName" class="form-control">
              <input type="hidden" name="ReturnURL" ng-value="allPayData.ReturnURL" class="form-control">
              <input type="hidden" name="ClientBackURL" ng-value="allPayData.ClientBackURL" class="form-control">
              <input type="hidden" name="ChoosePayment" ng-value="allPayData.ChoosePayment" class="form-control">
              <input type="hidden" name="PaymentInfoURL" ng-value="allPayData.PaymentInfoURL" class="form-control">
              <input type="hidden" name="IgnorePayment" ng-value="allPayData.IgnorePayment" class="form-control">
              <input type="hidden" name="CheckMacValue" ng-value="allPayData.CheckMacValue" class="form-control">
            </form>
          </div>
        </div><br class="clear"><br>
        <hr><br><br>
        <div id="about">
          <h2><img src="/img/logo/icon-black.png"> 聯絡我們</h2>
          <p>有任何訂購或商品上的問題，歡迎您寫信與我們聯絡，來信請寄至客服信箱 <a href="mailto:contact@fernwing.com">contact@fernwing.com</a> ，我們會在 48 小時之內回覆您。</p><br><br>
        </div>
        <div id="orderlist" role="dialog" aria-labelledby="orderlist" aria-hidden="true" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">訂單列表</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <th>姓名</th>
                    <th>地址</th>
                    <th>電子郵件</th>
                    <th>電話</th>
                  </tr>
                  <tr ng-repeat="(k,v) in orders.pending"> 
                    <td>{{v[0]}}</td>
                    <td>{{v[1]}}</td>
                    <td>{{v[2]}}</td>
                    <td>{{v[3]}}</td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tracking-adwords"></div>
      <div id="content">
      </div>
      <div id="content2">
        <div id="attribution" role="dialog" aria-labelledby="attribution" aria-hidden="true" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">此網站使用的素材</h4>
              </div>
              <div class="modal-body">
                <h4>
                   
                  圖示<small> / 來自 <a href="http://thenounproject.com/">noun projects</a></small>
                </h4>
                <ul>
                  <li>"<a href="http://thenounproject.com/term/bird/27693/">Bird</a>", by Harvey Modhar</li>
                  <li>"<a href="http://thenounproject.com/term/backpack/2551/">Backpack</a>", by Rémy Médard</li>
                  <li>"<a href="http://thenounproject.com/term/gears/9428/">Gears</a>", by Max Hancock</li>
                  <li>"<a href="http://thenounproject.com/term/camera/766/">Camera</a>", by Dave Tappy</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">關閉</button>
              </div>
            </div>
          </div>
        </div>
        <div id="footer">
          <div class="ib">
            <div class="right"><a href="mailto:contact@fernwing.com" class="item">聯絡我們</a><a href="/privacy.html" class="item">隱私權政策</a><a href="/eula.html" class="item">使用者條款</a><a data-toggle="modal" data-target="#attribution" class="item">誌謝</a>
            </div>
            <div class="item logo"><img src="/img/logo/footer.png"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/index.min.css">