.state-indicator
  .spinner(ng-show="state==1")
  i.glyphicon.glyphicon-ok.ajax-done(ng-show="state==2",ng-class="{'fadeout':state==2}")
  i.glyphicon.glyphicon-remove-circle.ajax-fail(ng-show="state==3",ng-class="{'fadeout':state==3}")
