.state-indicator
  img(ng-show="state==1",src="/img/spin.gif")
  i.glyphicon.glyphicon-ok.ajax-done(ng-show="state==2",ng-class="{'fadeout':state==2}")
  i.glyphicon.glyphicon-remove-circle.ajax-fail(mg-show="state==3",ng-class="{'fadeout':state==3}")
